# Expect to be
snippet exb
	expect(${1:to_test}).to.be(${2:correct_value})
# Expect not to be
snippet exnb
	expect(${1:to_test}).not.to.be(${2:incorrect_value})
# Expect to be eql
snippet exeql
	expect(${1:to_test}).to.eql(${2:correct_value})
